---
import { Image } from "astro:assets";
import { Status } from "../utils/constants";
import { slugify } from "../utils/utils";
import { getYearFromDate } from "../utils/utils";
import { Icon } from "astro-icon/components";

const { item } = Astro.props;
// console.log("item", item);

const href = slugify(item.title);
const images = item.cardimages;
const status = item.status;
---

<a href="#">
  <div class="card">
    {
      (item.status === 2 || item.status === 3) && (
        <span class="status">{Status[status as keyof typeof Status]}</span>
      )
    }
    {item.type !== 1 && <p class="episodes">{item.episodes}</p>}
    <div class="body">
      <figure>
        {
          !item.images ? (
            <img src={images[0]} alt="card image" />
          ) : (
            <Image src={item.images[0]} alt="card images" format="avif" />
          )
        }
      </figure>
      <span class="role">{item.role}</span>
    </div>

    <div class="foot">
      <div>
        {
          !item.status && (
            <div class="rating">
              <Icon name="mdi:star" color="yellow" />
              {item.rating}
            </div>
          )
        }
        <span>{getYearFromDate(item.releasedstatus)}</span>
      </div>
      <p>
        <span
          style={{
            backgroundColor: item.status === 1 ? "inherit" : "",
          }}
        >
          {item.title}
        </span>
      </p>
    </div>
  </div>
</a>
