---
import { Image } from "astro:assets";
import { Status } from "../utils/constants";
import { slugify } from "../utils/utils";
import { getYearFromDate } from "../utils/utils";
import { Icon } from "astro-icon/components";

const { item } = Astro.props;
// console.log("item", item);

const href = slugify(item.data.title);
const images = item.data.cardimages;
const status = item.data.status;
---

<a href={`/filmography/${href}`}>
  <div class="card">
    {
      (item.data.status === 2 || item.data.status === 3) && (
        <span class="status">{Status[status as keyof typeof Status]}</span>
      )
    }
    <p class="episodes">{item.data.episodes}</p>
    <div class="body">
      <figure>
        {
          !item.data.images ? (
            <img src={images[0]} alt="card image" />
          ) : (
            <Image src={item.data.images[0]} alt="card images" format="avif" />
          )
        }
      </figure>
    </div>

    <div class="foot">
      <div>
        {
          !item.data.status && (
            <span class="rating">
              <Icon name="mdi:star" />
              {item.data.rating}
            </span>
          )
        }
        <span>{getYearFromDate(item.data.releasedstatus)}</span>
      </div>
      <p>
        <span
          style={{
            backgroundColor: item.data.status === 1 ? "inherit" : "",
          }}
        >
          {item.data.title}
        </span>
      </p>
    </div>
  </div>
</a>
