---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { getYearFromDate } from "../utils/utils.ts";

const filmography = await getCollection("filmography");
console.log(filmography);
---

<div class="banner-carousel">
  {
    filmography.map((item: any) => {
      if (item.data.isBanner) {
        return (
          <figure>
            {/* <Image src={item.img} alt="banner" class="image" format="avif" /> */}
            <Image
              src={item.data.banner.high}
              widths={[240, 540, 720, item.data.banner.high.width]}
              sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${item.data.banner.high.width}px`}
              alt={item.data.title}
              class="image"
            />

            <span class="caption">
              {item.data.title}{" "}
              <span class="statusDesk">
                {" "}
                - {getYearFromDate(item.data.releasedstatus)}
              </span>
            </span>
            <span class="status">{item.data.releasedstatus}</span>
          </figure>
        );
      }
    })
  }
</div>

<style>
  .banner-carousel {
    z-index: -2;
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: red; */
  }
  figure {
    /* background-color: blue; */
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .caption {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
    white-space: nowrap; /* Force text to stay on a single line */
  }
  .image {
    z-index: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .fade-in {
    opacity: 1;
  }
  .fade-out {
    opacity: 0;
  }
  .status {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    border-radius: 0.4rem;
    padding: 0.2rem 0.6rem;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: none;
  }
  @media only screen and (max-width: 786px) {
    .status {
      display: block;
    }
    .statusDesk {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const carousels = document.querySelectorAll(".banner-carousel");

    carousels.forEach((carousel) => {
      const images = carousel.querySelectorAll("figure");
      const totalImages = images.length;
      let currentIndex = Math.floor(Math.random() * totalImages); // Randomly select initial index
      const transitionDelay = 5000; // Total delay for each image transition (4 seconds)
      const fadeDuration = 1000; // Duration of fade in and out (1 second)

      function showNextImage() {
        // Fade out the current image
        images[currentIndex].classList.remove("fade-in");
        images[currentIndex].classList.add("fade-out");

        // Move to the next image
        currentIndex = (currentIndex + 1) % images.length;

        // Fade in the next image
        images[currentIndex].classList.remove("fade-out");
        images[currentIndex].classList.add("fade-in");

        // Set timeout to manage the total delay including fade duration
        setTimeout(showNextImage, transitionDelay);
      }

      // Initialize the first image
      images[currentIndex].classList.add("fade-in");

      // Start the transition sequence
      setTimeout(showNextImage, transitionDelay);
    });
  });
</script>
